h2 {
    color:purple;
}

.nav {
    list-style: none;
}

.navitem {
    display:inline-block;
    text-decoration: none;
    padding:10px;
}

.note{
    border-radius:5px;
    margin:5px;
    background-color: lightgray;
    list-style: none;
}